<div *ngIf="(prices$ | async) as prices; else loading" class="container">
    <input class="price__input" [(ngModel)]="totalPrice" placeholder="price"/>
    <button (click)="pay()" routerLink="/scan_customer">
        pay
      </button>

      <div class="prices__container">
      <ul class="prices__list">
          <li *ngFor="let price of prices$ | async" >
            <button class="prices__button" (click)="add(-price)">
              -{{price}}
            </button>
          </li>
        </ul>

    <ul class="prices__list">
        <li *ngFor="let price of prices$ | async" >
          <button class="prices__button" (click)="add(price)">
            +{{price}}
          </button>
        </li>
      </ul>
    </div>

      <button class="clear__button" (click)="clear()">
          clear
        </button>
</div>

  <ng-template #loading>
      <div class="container">
        Loading User...
        </div>
  </ng-template>